.bg-box {
    width: 1355px;
    height: 600px;
    background-color: green;

    background-position: center, bottom, top, left, right;
    background-image: url(https://img.goodfon.ru/wallpaper/big/0/5b/pole-zelen-trava-dom-derevya.jpg),
    url(./green-png-44873.png),
    url(./lamp-png-34914.png),
    url(https://vignette.wikia.nocookie.net/mashaandthebear/images/e/e0/%D0%81%D0%B6%D0%B8%D0%BA.png/revision/latest?cb=20180209130328&path-prefix=ru),
    url(https://avatanplus.com/files/resources/mid/58eb07b830eab15b56162788.png);
    background-repeat: no-repeat, repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: auto, 200px, 50px, 30px, 40px;
}